.container {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  color: white;
  background-color: #272727;
}

body {
  background-color: #121212;
}

.posts-container {
  flex: 2;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f8f1f1;
  font-style: oblique;
}

#posts {
  margin-top: 20px;
}

.post {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #121212;
  color: white;
}

.post h3 {
  font-size: 18px;
  color: white;
  text-align: center;
}

.post p {
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

.post img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.post button {
  margin-left: 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  padding: 6px 10px;
  cursor: pointer;
}

.post button:hover {
  background-color: #a7a7a7;
}

.like-button.liked {
  background-color: red;
  color: white;
}

.post-footer {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
  color: #888;
  cursor: pointer;
}

.comments-container {
  margin-top: 10px;
  color: white;
}

.comments-container p {
  margin-left: 20px;
}
